ENV=development

# Sentry
SENTRY_DSN=https://13058aed92e04248a91f17a54965a41a@o815326.ingest.sentry.io/5921653
SENTRY_DEBUG=true
SENTRY_ENVIRONMENT=dev
SENTRY_LOGLEVEL=2
SENTRY_TRACE_SAMPLE_RATE=1.0

# Bull
REDIS_HOST=localhost
#REDIS_HOST=bcw-redis
REDIS_PORT=6379


# services
ETH_BALANCER_ADDRESS=https://dev-eth-balancer.nanos-ex.net
ETH_SERVICE_ADDRESS=https://dev-crypto-krakend.nanos-ex.net

BTC_BALANCER_ADDRESS=https://dev-btc-balancer.nanos-ex.net
BTC_SERVICE_ADDRESS=https://dev-crypto-krakend.nanos-ex.net

TRX_BALANCER_ADDRESS=https://dev-trx-balancer.nanos-ex.net
TRX_SERVICE_ADDRESS=https://dev-crypto-krakend.nanos-ex.net

BCH_BALANCER_ADDRESS=https://dev-bch-balancer.nanos-ex.net
BCH_SERVICE_ADDRESS=https://dev-crypto-krakend.nanos-ex.net

DOT_BALANCER_ADDRESS=https://dev-dot-balancer.nanos-ex.net
DOT_SERVICE_ADDRESS=https://dev-crypto-krakend.nanos-ex.net

LTC_BALANCER_ADDRESS=https://dev-ltc-balancer.nanos-ex.net
LTC_SERVICE_ADDRESS=https://dev-crypto-krakend.nanos-ex.net

XRP_BALANCER_ADDRESS=https://dev-eth-balancer.nanos-ex.net
XRP_SERVICE_ADDRESS=https://dev-crypto-krakend.nanos-ex.net

# Notification 
NOTIFICATIN_MS_URL=test
NOTIFICATION_CHANNEL_NAME=test
NOTIFICATION_BOT_ICON=test
